# ======================================
# Python
# ======================================

__pycache__/
*.py[cod]
*$py.class
*.pkl
*.pyc

# ======================================
# Ambiente virtual
# ======================================

.venv/
venv/
env/

# ======================================
# VS Code
# ======================================

.vscode/

# ======================================
# PyCharm
# ======================================

.idea/

# ======================================
# Arquivos de sistema
# ======================================

.DS_Store
Thumbs.db

# ======================================
# Variáveis de ambiente
# ======================================

.env

# ======================================
# Logs
# ======================================

*.log

# ======================================
# Jupyter
# ======================================

.ipynb_checkpoints/

# ======================================
# Testes
# ======================================

.pytest_cache/
.coverage
htmlcov/

# ======================================
# Build
# ======================================

build/
dist/
*.egg-info/

# ======================================
# Arquivos temporários
# ======================================

tmp/
temp/