.sidebar {
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/sidebar.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  width: 250px;
  display: block; 
  margin-left: -50px;
  margin-top: -15px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.item {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.perfil {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 20px;
}

.nome {
  flex: 1;
  font-size: 14px;
  font-weight: 500;
  color: #374151;
}
